body,a,p,ul,ol,li,h1,h2,h3,h4,h5,h6,dt,dl,dd,form,input,i{
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: normal;
}
a{
	text-decoration: none;
	color:#666;
	}
img{
	display: block;
	border:0;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #F7F7F7;
}
.box{
	width: 100%;
	height:100%;
	overflow:hidden;
}
.login{
	width: 100%;
	height:100%;
	
}
.login-header{
	width: 100%;
	height:1.04rem;
	background:#0090FD;
	margin:0 auto;
}
.login-header span:nth-child(1){
	color:#fff;
	margin-left: 0.4rem;
	font-size: 0.28rem;
	line-height: 1.04rem;
	display: block;
	float: left;
}
.login-header span:nth-child(2){
	color:#fff;
	display: block;
	float: left;
	text-align: center;
	font-size: 0.32rem;
	line-height: 1.04rem;
	position: absolute;
	left:0;right: 0;
	margin: 0 auto;
}
.login-main{
	width: 100%;
	height:auto;
	margin: 0 auto;
	background: #fff;
}
.login-main-header{
	width: 100%;
	height: 1.04rem;
	border-bottom: 1px solid #F2F2F2;
	font-size: 0.28rem;
	font-weight: bold;
	line-height: 1.04rem;
}
.tel-login{
	width: 50%;
	text-align: center;
	color:#000000;
	float: left;
}
.messages-login{
	width: 50%;
	height: 1.03rem;
	text-align: center;
	color:#006FBC;
	float: left;
	border-bottom: 0.04rem solid #006FBC;
	box-sizing: border-box;
}
.tel{
	width: 100%;
	height: 1.04rem;
	border-bottom: 1px solid #F2F2F2;
	font-weight: bold;
	position: relative;
}
.tel span{
	height: 1.04rem;
	display: block;
	font-size: 0.28rem;
	margin-left:0.37rem;
	line-height: 1.04rem;
	float: left;
	margin-right: 0.22rem;
	
}
.tel input{
	border: none;
	color:#AEAEAE;
	height: 1rem;
	line-height: 1.04rem;
	display: block;
	
}
.box-reg{
	width: 30%;
	height: 80%;
	float:right;
	font-size: 0.30rem;
	position: absolute;
	top:0;bottom: 0;right: 0.36rem;
	margin: auto 0;
	color: #2099EA;
	text-align: right;
	border-left:1px solid #F2F2F2;
	line-height: 0.8rem;
}
#submit{
	width: 6.8rem;
	height:0.84rem;
	background:#2099EA ;
	display: block;
	margin: 0 auto;
	border: none;
	margin-top: 0.38rem;
	color:#fff;
	line-height: 0.84rem;
	text-align: center;
	font-weight: bold;
	border-radius: 0.1rem;
}
.forget{
	color: #2099EA;
	font-size: 0.24rem;
	width: 6.8rem;
	text-align: right;
	height:1.04rem;
	line-height: 1.04rem;
	margin: 0 auto;
	
}
/*注册*/
.zhuce{
	text-align: left;
}
.tel1{
	margin-top: 0.4rem;
	border:none;
	background: #fff;
}
.index-main{
	width: 100%;
	height:4.53rem;
	background:url(../img/banner.jpg) 0 0 no-repeat ;
	background-size: 100% 100%;
	margin: 0 auto;
}
.index-btns{
	width: 100%;
	height:1.04rem;
	border-bottom: 1px solid #1382CB;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	line-height: 1.04rem;
}
.index-btns li{
	font-size: 0.4rem;
	color:#F5F7F9;
}
.active{
	color:#fff;
	border-bottom: 2px solid #FFF;
}
.logo{
	width: 0.58rem;
	height: 0.58rem;
	background: url(../img/logo.png) no-repeat;
	background-size: contain;
	margin: auto 0;
	margin-left: -0.2rem;
}
.search{
	width: 0.4rem;
	height: 0.4rem;
	background: url(../img/search.png) no-repeat;
	background-size: contain;
	margin: auto 0;
	margin-right: -0.2rem;
}
.bg{
	position: relative;
}
.index-bg{
	background: url(../img/bg.png);
	width: 100%;
	height:3.5rem;
	opacity: 0.8;
}
.index-tools{
	width: 92%;
	height:2.18rem;
	margin: 0 auto;
	display: -webkit-flex;
	justify-content: space-around;
	font-size: 0.28rem;
	color:#fff;
	line-height:1.18rem ;
	z-index: 10;
	position: absolute;
	left:0;right:0;
	margin: 0 auto;
	top:0;
	border-bottom: 1px solid #2068CF;
}
.index-tools li{
	width:1rem;
	height: 2rem;
	z-index: 1;
	text-align: center;
	line-height:3.5rem ;
}
.index-tools li:nth-child(1){
	background: url(../img/1.png) center 0.62rem no-repeat;
	background-size: 0.59rem 0.52rem;
}
.index-tools li:nth-child(2){
	background: url(../img/2.png) center 0.62rem no-repeat;
	background-size: 0.59rem 0.52rem;
}
.index-tools li:nth-child(3){
	background: url(../img/3.png) center 0.62rem no-repeat;
	background-size: 0.59rem 0.52rem;
}
.index-tools li:nth-child(4){
	background: url(../img/4.png) center 0.62rem no-repeat;
	background-size: 0.59rem 0.52rem;
}
.local{
	width: 90%;
	height:1.33rem;
	position: absolute;
	left:0;right:0;
	margin:0 auto;
	bottom: 0;
	font-size: 0.28rem;
	color:#fff;
	line-height: 1.32rem;
}
.shouji{
	display: block;
	width: 0.3rem;
	height: 0.52rem;
	background:url(../img/5.png) 0 0 no-repeat;
	background-size: cover;
	margin-top: 0.4rem;
	float: left;
	margin-right: 0.3rem;
}
.local-titl{
	float: left;
	margin-right: 0.2rem;
}
.imgs{
	display: block;
	width: 0.4rem;
	height: 0.42rem;
	background:url(../img/6.png) 0 0 no-repeat;
	background-size:0.4rem 0.42rem;
	margin-top: 0.48rem;
	float: left;
}
.local-right{
	float: right;
	margin-right: 0.6rem;
}
.local-right span{
	display: block;
	float: left;
	margin-right: 0.1rem;
}
.local-right div{
	float: right;
}
.index-lb1{
	width: 100%;
	height: 2.5rem;
	margin: 0 auto;
}
.lb1-btns{
	width: 90%;
	height:100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	font-size: 0.28rem;
	border-bottom: 2px solid #E2E2E2;
}
.lb1-btns li{
	width: 1.16rem;
	height:2.5rem;
	text-align: center;
	line-height: 4rem;
	font-weight: 600;
}
.lb1-btns li:nth-child(1){
	background: url(../img/11.png) 0 0.35rem no-repeat;
	background-size: 1.15rem 1.15rem;
}
.lb1-btns li:nth-child(2){
	background: url(../img/12.png) 0 0.35rem no-repeat;
	background-size: 1.15rem 1.15rem;
}
.lb1-btns li:nth-child(3){
	background: url(../img/13.png) 0 0.35rem no-repeat;
	background-size: 1.15rem 1.15rem;
}
.index-lb2{
	width: 90%;
	height:4.5rem;
	margin: 0 auto;
}
.lb2-btns{
	width: 100%;
	height:100%;
	font-size: 0.28rem;;
	float: right;
	
}
.lb2-btns li{
	width: 90%;
	height: 0.99rem;
	float: right;
	line-height: 0.99rem;
   /* margin-left: -0.6rem;*/
}
.lb1-btns li span{
	display: block;
	width: 0.6rem;
	float: left;
}
.lb2-btns-box{
	float: right;
	width: 90%;
	height:100%;
	border-bottom: 1px solid #E2E2E2;
}
.lb2-btns li:nth-child(1) .jiantou{
	float: left;
	transform: rotate(90deg);
	margin-right: 0.1rem;
}
.kge{
	margin-right: 1rem;
	margin-top: 0.06rem;
	float: right;
}
footer{
	width: 100%;
	height:1.15rem;
	margin:0 auto;
	box-shadow: -3px -4px 10px #E4E4E4;
	position: absolute;
	left:0;right: 0;
	margin: 0 auto;
	bottom: 0;
	background: #fff;
	z-index: 100;
}
.img-box{
	width: 1.14rem;
	height:1.14rem;
	border-radius: 50%;
	border:1px solid #FFFFFF;
	box-shadow:3px 3px 10px #E4E4E4;
	margin-top: -0.2rem;
	margin-left: 0.3rem;
	float: left;
	z-index: 100;
	background: red;
}
.song-box{
	height: 100%;
	width: 80%;
	float: right;
	font-size: 0.28rem;
}

.progress{
	width: 90%;
	height: 0.06rem;
	background: #D2D2D2;
	margin: 0.1rem auto;
	position: relative;
}
.yuan{
	width: 0.15rem;
	height:0.15rem;
	border-radius: 50%;
	background: #51CBFE;
	position: absolute;
	top:-0.04rem;
}
.song-name{
	width: auto;
	float: left;
	margin-left: 0.3rem;
}
.author{
	margin-left: 0.3rem;
	position: absolute;
	top:0.65rem
}
.stop{
	float: right;
	margin-top: 0.14rem;
	margin-right: 0.2rem;
	font-size: 0.4rem;
}
.next{
	float:right;
	margin-top: 0.2rem;
	margin-right: 0.3rem;
}
.liebiao{
	float: right;
	margin-top: 0.2rem;
	margin-right: 0.4rem;
}
/*列表页*/
.list-header{
	width: 100%;
	height:1rem;
	background: #0090FD;
	position: absolute;
	left:0;right: 0;
	top:0;
	margin: 0 auto;
}
.list-header-btns{
	width: 90%;
	height:100%;
	margin: 0 auto;
	display: -webkit-flex;
	justify-content: space-between;
	font-size: 0.28rem;
	line-height: 1rem;
	color:#fff;
	font-weight: 700;
}
.list-header-btns li a img{
	height:0.5rem;
	margin-top: 0.2rem;
}
.list-btns{
	width: 100%;
	height:1.04rem;
	position: absolute;
	left:0;right:0;
	margin:0 auto;
	top:1rem;
	background: #fff;;
	box-shadow: 1px 1px 0.5px #EAEAEA;
	z-index: 10;
}
.list-btns span{
	font-size: 0.24rem;
}
.swiper1{
	width: 90%;
	margin: 0 auto;
}
.swiper2{
	width: 100%;
	margin: 0 auto;
	height: 458px;
	text-align: center;
	position: absolute;
	left:0;right:0;
	top:2rem;
	overflow: hidden;
}
.swiper1 .swiper-wrapper{
	height:80%;
	font-size: 0.30rem;
	font-weight: bold;
	z-index: 100;
	text-align: center;
}
.active-nav{
	color:#006EBB;
	border-bottom:2px solid #006EBB;
}
.span{
	font-size: 0.1rem;
}
.play{
	width: 100%;;
	height:0.92rem;
	position:absolute;
	left:0;
	right:0;
	margin: 0 auto;
	top:0rem;
    background: #fff;
    border-bottom: 1px solid #E7E7E7;
}


.plays{
	width: 90%;
	height:auto;
	position:absolute;
	left:0;top:0;right:0;
	margin: 0 auto;
	font-size: 0.28rem;
	display: -webkit-flex;
	justify-content: space-around;
	line-height: 0.92rem;
}
.shunxu{
	width:0.4rem;
	height:0.3rem;
	margin-top: 0.32rem;
	background: url(../img/S61211-20013438_08.png) 0px 0px no-repeat;
	background-size: contain;
}
.plays li:nth-child(2){
	align-self:baseline;
	margin-left: -0.4rem;
	margin-top: 0.06rem;
}
.list-main{
	width: 100%;
	position: absolute;
	top:2.96rem;bottom: 1.14rem;
	left:0;
	z-index: 10;
	background-color: red;
	overflow: hidden;
}
.li3{
	width:0.4rem;
	height:0.3rem;
	margin-top: 0.32rem;
	background: url(../img/S61211-20013438_03.gif) center center no-repeat;
	background-size: contain;
	line-height: 999;
	margin-left: 2rem;
	border-right: 1px solid #E2E2E2;
	padding-right: 0.4rem;
}
.li4{
	width:0.4rem;
	height:0.3rem;
	margin-top: 0.32rem;
	background: url(../img/S61211-20013438_10.gif) center center no-repeat;
	background-size: contain;
	line-height: 999;
	border-right: 1px solid #E2E2E2;
	padding-right: 0.2rem;
	margin-left: -0.4rem
}
.li5{
	width:0.3rem;
	height:0.3rem;
	margin-top: 0.32rem;
	background: url(../img/S61211-20013438_12.gif) center center no-repeat;
	background-size: contain;
	line-height: 999;
	margin-left: -0.2rem
}
.song-list{
	width: 7rem;
	height:auto;
	overflow: hidden;
	margin: 0 auto;
}
.song-list li a{
	display: block;
	widht:auto;
	height:1.14rem;
}
.song-message{
	width: 100%;
	height:1.14rem;
	position: relative;
}
.jia{
	width: 0.4rem;
	height:0.4rem;
	float: left;
	margin: 0 0.1rem;
	margin-top: 0.45rem;
}
.song{
	height: 100%;
	width: 80%;
	border-bottom: 1px solid #E2E2E2;
    position: absolute;
    right: 0.2rem; top:0;
}
.song-left{
	float: left;
}
.song-title{
/*	float: left;*/
	/*width: 3rem;*/
	font-size: 0.3rem;
	font-weight: bold;
	color:#000;
	margin-top: 0.2rem;
}
.mess{
    font-size: 2rem;
    float: right;
    margin-top: 0.4rem;
    margin-right: 0.2rem;
}
.song-author{
	margin-top: 0.1rem;
	font-size: 0.24rem;
	float: left;
	color:#999;
}
#header{
	width: 100%;
	height:auto;
	position: absolute;
	left:0;right:0;
	margin:0 auto;
	top:0;
}
#header:after{
	content: "";
	display: block;
	clear: both;
}
#footer{
	width: 100%;
	height:1.15rem;
	position: absolute;
	left:0;right:0;
	margin:0 auto;
	bottom:0;
	background: #fff;
	border-top: 1px solid #E2E2E2;
	z-index: 100;
}
#wrapper{
	width: 100%;
	position: absolute;
	left:0;right:0;
	top:0.96rem;
	bottom:0rem;
	overflow: hidden;
	background: #fff;
}
#scroller{
	position: absolute;
	width: 100%;
	height: auto;
}
/*//song*/
.swiper2 .swiper-slide:nth-child(2){
	background: #fff;
	position: relative;
}
#singer{
	height: 0.65rem;
	width: 90%;
	background: #f3f3f3 url(../img/search.png) 2.5rem center no-repeat;
	background-size: 0.4rem 0.4rem;
	border: none;
	text-align: center;
	margin-top:-1rem;
	position: absolute;
	top:0.13rem;
	left:0;right:0;
	margin:0 auto;
	color:#898989;
}
.singer{
	width: 95%;
	float: right;
	margin-top: 1rem;
}
.singer li{
	height:1.13rem;
	position: relative;
}
.singer-img{
	width:0.8rem;
	height:0.8rem;
	border-radius: 50%;
	background: paleturquoise;
	position: absolute;
	top:0;bottom: 0;
	margin: auto 0;
}
.song-boxs{
    width:85%;
    height:100%;
    border-bottom: 1px solid #ddd;
    float: right;
}
.singer-name{
	width: 100%;
	margin-top: 0.1rem;
	float: left;
	text-align: left;
	font-size: 0.3rem;
	font-weight: bold;
}
.num{
	float: left;
	margin-top: 0.1rem;
    text-align: left;
	font-size: 0.28em;
	color:#6A6A6A;
}
.nums{
	width: 100%;
	margin-top: 0.6rem;
	text-align: center;
	font-size: 0.3rem;
	color:#696969;
	float: left;
}
/*播放页*/
.play-box{
	background: url(../img/32.jpg) no-repeat;
	background-size:cover;
	opacity: 0.7;
}
.play-header{
	width: 100%;
	height:0.9rem;
	text-align: center;
	font-size: 0.3rem;
	color:#000;
	font-weight: bold;
	margin-top: 0.2rem;;
	position: relative;
}
.return{
	float: left;
	font-size: 0.6rem;
	margin-left: 0.3rem;
	position: absolute;
	left:0.3rem;
	top:0;bottom: 0;
	margin: auto 0;
}
.authors{
	width: 100%;
	text-align: center;
	font-size: 0.2rem;
    float: left;
}
.pinzhi{
	width: 30%;
	height: 0.6rem;
	margin: 0 auto;
	display: -webkit-flex;
	justify-content: space-between;
	font-size: 0.3rem;
	margin-bottom: 0.5rem;
}
.pinzhi li:nth-child(1){
	background:url(../img/111.png) 0px 0px no-repeat ;
	background-size: 0.6rem 0.4rem;
	line-height: 999;
}
.pinzhi li:nth-child(2){
	background:url(../img/112.png) 0px 0px no-repeat ;
	background-size: 0.6rem 0.4rem;
	line-height: 999;
}
.pinzhi li:nth-child(3){
	background:url(../img/113.png) 0px 0px no-repeat ;
	background-size: 0.6rem 0.4rem;
	line-height: 999;
}
.geci{
	width:90%;
	height:auto;
	margin: 0 auto;
	z-index: 200;
	overflow: hidden;
	position: absolute;
	top:2rem;
	left:0;right:0;
	bottom:3.6rem;
}
.geci-box{
	width:100%;
	height:auto;
	/*position: absolute;*/
}
.geci-box h1{
	text-align: center;
	font-size: 0.4rem;
	margin-bottom: 0.2rem;
}
.geci-box h3{
	text-align: center;
	font-size: 0.35rem;
	margin-bottom: 0.8rem;
}
.geci-box p{
	font-size: 0.3rem;
	text-align: center;
	margin: 0.4rem 0;
}
#scroller{
	position: absolute;
	width: 100%;
	height: auto;
}
.geci-box .active-geci{
	color:#fff;
	font-size: 0.4rem;
	font-weight: bold;
}
.play-tool{
	width:90%;
	height:3rem;
    position: absolute;
    left:0;right:0;
    margin:0 auto;
    bottom:0.4rem;
}
.play-tool1{
	width:90%;
	height:0.8rem;
	margin: 0.2rem auto 0;
	display: -webkit-flex;
	justify-content: space-between;
}
.play-tool1 li{
	height:0.4rem;
	width:0.4rem;
}
.play-tool1 li:nth-child(1){
	background: url(../img/btns1.png) center center no-repeat;
	background-size: 0.38rem 0.38rem;
}
.play-tool1 li:nth-child(2){
	background: url(../img/btns2.png) center center no-repeat;
	background-size: 0.38rem 0.38rem;
}
.play-tool1 li:nth-child(3){
	background: url(../img/btns3.png) center center no-repeat;
	background-size: 0.38rem 0.38rem;
}
.play-tool1 li:nth-child(4){
	background: url(../img/btns4.png) center center no-repeat;
	background-size: 0.38rem 0.38rem;
}
.play-tool1 li:nth-child(5){
	background: url(../img/btns5.png) center center no-repeat;
	background-size: 0.38rem 0.38rem;
}
.play-progress{
    width: 90%;
    height:0.4rem;
    position: absolute;
    left:0;right:0;
    margin:0 auto;
    top:1rem;
}

.play-progress .progress{
	width: 100%;
}
.start-time{
	font-size: 0.3rem;
	float: left;
	margin-left: -0.6rem;
}
.end-time{
	font-size: 0.3rem;
	float: right;
	margin-right: -0.6rem;
	margin-top: -0.24rem;
}
.play-footer{
	width:100%;
	height:1.4rem;
	font-size: 0.3rem;
	display: -webkit-flex;
	justify-content: space-between;
	margin-top: 0.6rem;
}
.play-footer li:nth-child(1){
	margin-top: 0.2rem;
}
.play-footer li:nth-child(2){
	width: 0.95rem;
	height:0.95rem;
	background: url(../img/btn6.png) 0px center no-repeat;
	background-size: 0.93rem 0.93rem;
	line-height: 999;
	margin-top: 0.4rem;
}
.play-footer li:nth-child(3){
	width: 1.3rem;
	height:1.3rem;
	background: url(../img/btns7.png) 0 0rem no-repeat;
	background-size: 1.3rem 1.3rem;
	line-height: 999;
	margin-top: 0.18rem;
}
.play-footer li:nth-child(4){
	width: 0.95rem;
	height:0.95rem;
	background: url(../img/btns8.png) 0px center no-repeat;
	background-size: 0.93rem 0.93rem;
	line-height: 999;
	margin-top: 0.4rem;
}
.lis1{
	width: 0.4rem;
	height:0.4rem;
	line-height: 999;
    background: url(../img/bofang.png) 0 0 no-repeat;
    background-size: 0.4rem 0.4rem;
     margin-top: 0.2rem;
    align-self: center;
   
}
.lis5{
	width: 0.4rem;
	height:0.4rem;
	line-height: 999;
    background: url(../img/lie.png) 0 0 no-repeat;
    background-size: 0.4rem 0.4rem;
     margin-top: 0.2rem;
    align-self: center;
   
}
.play1{
	background: url(../img/play1-bg.jpg);
	opacity: 1;
}
.guangpan{
	width: 5.3rem;
	height:6rem;
	background: url(../img/btn9-1.png) 0 0 no-repeat;
    background-size: 5.3rem 5.3rem;
    margin: auto;
    margin-top: 0rem;
    position: relative;
}
.click-s a{
	font-size: 0.3rem;
	color:#fff;
	float: right;
	margin-top: -1rem;
	/*margin-right: 0.6rem;*/
	z-index: 100000;
}
@keyframes xuan{
	from{transform: rotate(0);}
	to{transform: rotate(360deg);}
}
.guangpan2{
	width: 5.1rem;
	height:5.1rem;
	background: url(../img/btns9-2.png) 0 0 no-repeat;
    background-size: 5.1rem 5.1rem;
    margin: auto;
    position: absolute;
    left:0;right: 0;
    margin: 0 auto;
    top:0.1rem;
    animation: xuan 2s linear infinite;
}

.guangpan3{
	background: url(../img/btns9-3.png) 0 0 no-repeat;
	width: 2rem;
	height:2rem;
	background-size: 2rem 2rem;
	z-index: 999;
	right: -0.8rem;top:0rem;
	position: absolute;
}
.play1-pinzhi li:nth-child(1){
	background: url(../img/s-1.png) 0 0 no-repeat;
	background-size: 0.62rem 0.44rem;
}
.play1-pinzhi li:nth-child(2){
	background: url(../img/s-2.png) 0 0 no-repeat;
	background-size: 0.62rem 0.44rem;
}
.play1-pinzhi li:nth-child(3){
	background: url(../img/s-3.png) 0 0rem no-repeat;
	background-size: 0.62rem 0.44rem;
}
.play1-footer li:nth-child(2){
	background: url(../img/btns6-2.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.play1-footer li:nth-child(3){
	background: url(../img/btns7-2.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.play1-footer li:nth-child(4){
	background: url(../img/btn8-2.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.play1-message{
	position: absolute;
	top:8rem;
	text-align: center;
	font-size: 0.4rem;
	left:0;right:0;
	margin: 0 auto;
}
